<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/account_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/0d348efd9b.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Workflow</title>
</head>
<body>
    <header style="background: #f2c078; color: #FFF; display: flex; align-items: center; justify-content: center">
        <img src="images/logo.png">
    </header>
    <div style="display: flex; flex-direction: column; gap: 40px; margin-top: 40px; align-items: center; justify-content: center;">
        <div style="display: flex; gap: 40px; align-items: center">
            <div class="avatar-header">
                    <div class="avatar-wrapper">
                        <img id="avatar" class="profile-pic" src={{avatar}} />
                        <div class="upload-button">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </div>
                        <input class="file-upload" type="file" accept="image/*"/>
                    </div>
                </div>
            <h1 style="font-weight: 600; font-size: 64px"> {{username}} </h1>
        </div>
        <div style="display: flex; flex-direction: column; gap: 20px">
            <div style="display: flex; justify-content: space-between;">
                <p style="font-weight: 500; font-size: 64px; padding-right: 40px">Имя:</p>
                <input id="nameField" type="text" maxlength="13" style="font-weight: 400; font-size: 64px; outline: none; border: none; border-bottom: 2px solid #1E0E62; opacity: 0.5" value={{name}} >
            </div>
            <div style="display: flex; justify-content: space-between">
                <p style="font-weight: 500; font-size: 64px; padding-right: 40px">Фамилия:</p>
                <input id="surnameField" type="text" maxlength="15" style="font-weight: 400; font-size: 64px; outline: none; border: none; border-bottom: 2px solid #1E0E62; opacity: 0.5" value={{surname}} >
            </div>
            <div style="display: flex; justify-content: space-between">
                <p style="font-weight: 500; font-size: 64px; padding-right: 40px">Роль:</p>
                <form>
                    <select id="roleSelect" onclick="checkRole()" name="dropdown" style="font-weight: 400; font-size: 64px; outline: none; border: none; border-bottom: 2px solid #1E0E62; opacity: 0.5">
                        <option value ="student">Студент</option>
                        <option value ="teacher">Преподаватель</option>
                        <option value ="user" selected>Не выбрано</option>
                        <option value="{{value}}" hidden="hidden" selected="selected">{{status}}</option>
                    </select>
                </form>
            </div>
            <div style="display: none; justify-content: space-between" id="group">
                <p style="font-weight: 500; font-size: 64px; padding-right: 40px">Группа:</p>
                <input id='groupInput' type="text" maxlength="10" style="font-weight: 400; font-size: 64px; outline: none; border: none; border-bottom: 2px solid #1E0E62; opacity: 0.5" value={{group}}>
            </div>
            <div style="display: flex; justify-content: space-between; padding-top: 60px;">
               <a href="/main"><i class="fa-solid fa-xmark fa-5x"></i></a>
               <i class="fa-solid fa-floppy-disk fa-5x" onclick="submit()"></i>
            </div>
        </div>
    </div>

    <form id="submitForm" method="post" action="/account" style="display: none;" enctype="multipart/form-data">
        <input type="hidden" name="avatar">
        <input type="hidden" name="name">
        <input type="hidden" name="surname">
        <input type="hidden" name="role">
        <input type="hidden" name="studentGroup">
    </form>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                let i = new Image();
                i.onload = function() {
                    if (i.width < i.height) {
                        document.getElementById('avatar').style.height = 'auto';
                        document.getElementById('avatar').style.width = '100%';
                    }
                    else {
                        document.getElementById('avatar').style.height = '100%';
                        document.getElementById('avatar').style.width = 'auto';
                    }
                }
                let reader = new FileReader();
                reader.onload = function (e) {
                    let fileurl = e.target.result;
                    i.src = fileurl;
                    $('.profile-pic').attr('src', fileurl);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".file-upload").on('change', function() {
            readURL(this);
        });
        $(".upload-button").on('click', function() {
            $(".file-upload").click();
        });

        function checkRole() {
            if (document.getElementsByName('dropdown')[0].value === 'student') {
                document.getElementById('group').style.display = 'flex';
            }
            else {
                document.getElementById('group').style.display = 'none';
            }
        }

        checkRole();

        function addFormatter (input, formatFn) {
            let oldValue = input.value;

            const handleInput = event => {
                const result = formatFn(input.value, oldValue, event);
                if (typeof result === 'string') {
                    input.value = result;
                }
                oldValue = input.value;
            }

            handleInput();
            input.addEventListener("input", handleInput);
        }

        function regexPrefix (regex, prefix) {
            return (newValue, oldValue) => regex.test(newValue) ? newValue : (newValue ? oldValue : prefix);
        }

        function submit() {
            const submitForm = document.getElementById('submitForm')
            const selectField = document.getElementById('roleSelect')
            submitForm.avatar.value = document.getElementById('avatar').src
            submitForm.name.value = document.getElementById('nameField').value
            submitForm.surname.value = document.getElementById('surnameField').value
            submitForm.role.value = selectField.options[selectField.selectedIndex].value;
            submitForm.studentGroup.value = document.getElementById('groupInput').value;
            submitForm.submit();
        }

        addFormatter(document.getElementById('groupInput'), regexPrefix(/^ФТ-/, 'ФТ-'));
    </script>
</body>
</html>