<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workflow</title>
    <link rel="stylesheet" href="css/main_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/0d348efd9b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header style="background: #f2c078; color: #FFF;">
        <div class="header-part">
            <i class="fa-solid fa-bars fa-3x" style="color: #fff; cursor: pointer" onclick="moveNav()"></i>
            <h1>Workflow</h1>
        </div>
        <a href="/account" class="header-part">
            <img src="images/avatar.png" class="avatar">
            <h2 style="font-weight: 400; font-size: 28px">Алёна<br>Полуяненко</h2>
        </a>
    </header>
    <div id="sidenav" class="sidenav">
        <nav style="padding-top: 30px;">
            <a href="#"><i class="fa-solid fa-house"></i>Главная</a>
            <a href="/schedule"><i class="fa-solid fa-bars-progress"></i>Задачи</a>
            <a href="#"><i class="fa-solid fa-graduation-cap"></i>Группы</a>
            <a href="#"><i class="fa-solid fa-user-group"></i>Друзья</a>
            <a href="#"><i class="fa-solid fa-comment"></i>Сообщения</a>
        </nav>
        <nav>
            <a href="#" class="settings"><i class="fa-solid fa-screwdriver-wrench"></i>Настройки</a>
        </nav>
    </div>
    <div class="content" id="content" style="color: #1E0E62;">
        <h1 style="font-size: 64px; font-weight: 600">Привет, Алёна!</h1>
        <div style="display: flex; gap: 50px; align-items: center">
            <p style="font-size: 36px; font-weight: 400"><b style="font-weight: 600">Ближайший дедлайн:</b> {{deadline}}</p>
            <button class="orange-button">Перейти к заданию</button>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; gap: 16px; align-self: center; padding-top: 120px">
            <p style="font-weight: 500; font-size: 36px">Уже выполнено:</p>
            <div style="display: flex; align-items: center; gap: 16px">
                <progress id="progress" value={{percent}} max="100"></progress>
                <label id="progress-label" style="font-weight: 500; font-size: 30px; width: 73px">{{percent}}%</label>
            </div>
            <div style="display: flex; align-items: center; gap: 10px; font-weight: 500; font-size: 20px; justify-content: flex-end; margin-left: 69%; margin-top: -20px">
                <i class="fa-solid fa-caret-down fa-2x" style="color: #FE5D26; cursor: pointer" onclick="switchTiming()"></i>
                <p id="week_month" style="width: 102px">за неделю</p>
            </div>
        </div>
    </div>
    <footer style="color: #1E0E62; font-weight: 500; font-size: 26px; position: fixed; bottom: 10px; right: 10px">
        <p id="time"> </p>
        <script src="js/time.js">   </script>
    </footer>


    <script>
        let a = screen.width * 0.5;
        document.getElementById("progress").style.width = `${a}px`;
        function moveNav() {
            if (document.getElementById("sidenav").style.width === "280px") {
                document.getElementById("sidenav").style.width = "0";
                document.getElementById("content").style.marginLeft = "40px";
            }
            else {
                document.getElementById("sidenav").style.width = "280px";
                document.getElementById("content").style.marginLeft = "320px";
            }
        }

        function switchTiming() {
            if (document.getElementById('week_month').textContent === 'за неделю') {
                document.getElementById('week_month').textContent = 'за месяц';
                document.getElementById('progress').value = 51;
                document.getElementById('progress-label').textContent = '51%';
            }
            else {
                document.getElementById('week_month').textContent = 'за неделю';
                document.getElementById('progress').value = {{percent}};
                document.getElementById('progress-label').textContent = {{percent}} + '%';
            }
        }
    </script>
</body>
</html>