<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/scheduler_style.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/0d348efd9b.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <title>Workflow</title>
</head>
<body>
    <header style="background: #f2c078; color: #FFF;">
        <div class="header-part">
            <i class="fa-solid fa-bars fa-3x" style="color: #fff; cursor: pointer" onclick="moveNavHorizontal('sidenav', true)"></i>
            <h1>Workflow</h1>
        </div>
        <div class="header-part" onclick="moveNavVertical('dropmenu')">
            <img src={{avatar}} class="avatar">
            <h2 style="font-weight: 400; font-size: 28px"> {{username}} </h2>
        </div>
    </header>
    <div id="sidenav" class="sidenav">
        <nav style="padding-top: 30px;">
            <a href="/main"><i class="fa-solid fa-house"></i>Главная</a>
            <a href="/schedule"><i class="fa-solid fa-bars-progress"></i>Задачи</a>
            <a href="/groups"><i class="fa-solid fa-graduation-cap"></i>Группы</a>
            <a href="#"><i class="fa-solid fa-user-group"></i>Друзья</a>
            <a href="#"><i class="fa-solid fa-comment"></i>Сообщения</a>
        </nav>
        <nav>
            <a href="#" class="settings"><i class="fa-solid fa-screwdriver-wrench"></i>Настройки</a>
        </nav>
    </div>

    <div style="display: flex; justify-content: flex-end;">
        <div id="dropmenu" class="dropmenu">
            <nav>
                <a href="/account"><i class="fa-solid fa-user" style="color: #fff"></i>Аккаунт</a>
                <a href="/auth/login"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #fff"></i>Выход</a>
            </nav>
        </div>
    </div>
    <div class="content">
        <div class="slider" style="position:relative; margin-top: 50px;">
            <div style="display: flex; justify-content: center">
                <div class="table">
                    <div class="item" ondblclick="addNewTask(document.getElementById('Monday0').textContent)">
                        <p>Понедельник</p>
                        <p class="date date-01" id="Monday0"></p>
                        {{{tasksDay00}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Tuesday0').textContent)">
                        <p>Вторник</p>
                        <p class="date date-02" id="Tuesday0"></p>
                        {{{tasksDay01}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Wednesday0').textContent)">
                        <p>Среда</p>
                        <p class="date date-03" id="Wednesday0"></p>
                        {{{tasksDay02}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Thursday0')0textContent)">
                        <p>Четверг</p>
                        <p class="date date-04" id="Thursday0"></p>
                        {{{tasksDay03}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Friday0').textContent)">
                        <p>Пятница</p>
                        <p class="date date-05" id="Friday0"></p>
                        {{{tasksDay04}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Saturday0').textContent)">
                        <p>Суббота</p>
                        <p class="date date-06" id="Saturday0"></p>
                        {{{tasksDay05}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Sunday0').textContent)">
                        <p>Воскресенье</p>
                        <p class="date date-07" id="Sunday0"></p>
                        {{{tasksDay06}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(false)">
                        <p style="margin-bottom: 10px;">Прочее</p>
                        {{{tasksNoTime}}}
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center">
                <div class="table">
                    <div class="item" ondblclick="addNewTask(document.getElementById('Monday1').textContent)">
                        <p>Понедельник</p>
                        <p class="date date-11" id="Monday1"></p>
                        {{{tasksDay10}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Tuesday1').textContent)">
                        <p>Вторник</p>
                        <p class="date date-12" id="Tuesday1"></p>
                        {{{tasksDay11}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Wednesday1').textContent)">
                        <p>Среда</p>
                        <p class="date date-13" id="Wednesday1"></p>
                        {{{tasksDay12}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Thursday1').1textContent)">
                        <p>Четверг</p>
                        <p class="date date-14" id="Thursday1"></p>
                        {{{tasksDay13}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Friday1').textContent)">
                        <p>Пятница</p>
                        <p class="date date-15" id="Friday1"></p>
                        {{{tasksDay14}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Saturday1').textContent)">
                        <p>Суббота</p>
                        <p class="date date-16" id="Saturday1"></p>
                        {{{tasksDay15}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Sunday1').textContent)">
                        <p>Воскресенье</p>
                        <p class="date date-17" id="Sunday1"></p>
                        {{{tasksDay16}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(false)">
                        <p style="margin-bottom: 10px;">Прочее</p>
                        {{{tasksNoTime}}}
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center">
                <div class="table">
                    <div class="item" ondblclick="addNewTask(document.getElementById('Monday2').textContent)">
                        <p>Понедельник</p>
                        <p class="date date-21" id="Monday2"></p>
                        {{{tasksDay20}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Tuesday2').textContent)">
                        <p>Вторник</p>
                        <p class="date date-22" id="Tuesday2"></p>
                        {{{tasksDay21}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Wednesday2').textContent)">
                        <p>Среда</p>
                        <p class="date date-23" id="Wednesday2"></p>
                        {{{tasksDay22}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Thursday').2textContent)">
                        <p>Четверг</p>
                        <p class="date date-24" id="Thursday2"></p>
                        {{{tasksDay23}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Friday2').textContent)">
                        <p>Пятница</p>
                        <p class="date date-25" id="Friday2"></p>
                        {{{tasksDay24}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Saturday2').textContent)">
                        <p>Суббота</p>
                        <p class="date date-26" id="Saturday2"></p>
                        {{{tasksDay25}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Sunday2').textContent)">
                        <p>Воскресенье</p>
                        <p class="date date-27" id="Sunday2"></p>
                        {{{tasksDay26}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(false)">
                        <p style="margin-bottom: 10px;">Прочее</p>
                        {{{tasksNoTime}}}
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center">
                <div class="table">
                    <div class="item" ondblclick="addNewTask(document.getElementById('Monday3').textContent)">
                        <p>Понедельник</p>
                        <p class="date date-31" id="Monday3"></p>
                        {{{tasksDay30}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Tuesday3').textContent)">
                        <p>Вторник</p>
                        <p class="date date-32" id="Tuesday3"></p>
                        {{{tasksDay31}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Wednesday3').textContent)">
                        <p>Среда</p>
                        <p class="date date-33" id="Wednesday3"></p>
                        {{{tasksDay32}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Thursday3').3textContent)">
                        <p>Четверг</p>
                        <p class="date date-34" id="Thursday3"></p>
                        {{{tasksDay33}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Friday3').textContent)">
                        <p>Пятница</p>
                        <p class="date date-35" id="Friday3"></p>
                        {{{tasksDay34}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Saturday3').textContent)">
                        <p>Суббота</p>
                        <p class="date date-36" id="Saturday3"></p>
                        {{{tasksDay35}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(document.getElementById('Sunday3').textContent)">
                        <p>Воскресенье</p>
                        <p class="date date-37" id="Sunday3"></p>
                        {{{tasksDay36}}}
                    </div>
                    <div class="item" ondblclick="addNewTask(false)">
                        <p style="margin-bottom: 10px;">Прочее</p>
                        {{{tasksNoTime}}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{{taskModals}}}

    <div class="modal-container" id="modal-new-task">
        <div class="modal" style="display: flex; flex-direction: column; gap: 20px;">
            <div style="display: flex; justify-content: space-between">
                <input required type="text" style="font-weight: 300; font-size: 64px;" placeholder="Название" id="taskName">
                <i class="fa-solid fa-xmark fa-2x" onclick="closeModal('')"></i>
            </div>
            <div style="display: flex; align-items: center; gap: 20px" id="timePart">
                <i class="fa-solid fa-clock fa-3x"></i>
                <p style="font-weight: 300;font-size: 40px" id="newTaskDate"></p>
                <input style="font-weight: 300;font-size: 40px" type="time" id="newTaskTime">
            </div>
            <textarea id="description" class="task-text" style="resize: none; font-weight: 300;font-size: 40px; height: 300px; overflow: auto; max-width: 100%; border: none; outline: none" placeholder="Что нужно сделать?"></textarea>

            <div style="display: flex; justify-content: space-between; margin-top: 40px">
                <i class="fa-solid fa-trash fa-3x" onclick="deleteTask()"></i>
                <i class="fa-solid fa-check fa-3x" onclick="submit(true)"></i>
            </div>
        </div>
    </div>

    <form id="submitForm" method="post" style="display: none;" action="/api/tasks" enctype="application/x-www-form-urlencoded">
        <input type="text" name="taskName">
        <input type="text" name="endTime">
        <input type="text" name="description">
    </form>

    <form id="submitFormEdit" method="post" style="display: none;" enctype="application/x-www-form-urlencoded">
        <input type="text" name="taskName">
        <input type="text" name="endTime">
        <input type="text" name="description">
    </form>

    <form id="submitFormCheck" method="post" style="display: none;" enctype="application/x-www-form-urlencoded">
        <input type="text" name="progress">
    </form>

    <footer style="color: #1E0E62; font-weight: 500; font-size: 26px; position: fixed; bottom: 10px; right: 10px">
        <p id="time" > </p>
        <script src="js/time.js">   </script>
        <script src="js/current_week.js"></script>
        <div class="lol"></div>
    </footer>

    <script>
        $('.slider').slick({
            infinite: false,
            speed: 800,
            slidesToShow: 1,
            slidesToScroll: 1,
            prevArrow: '<span style="z-index: 2; position: absolute; top: 46%; display: block; cursor: pointer; left: 20px"><i class="fas fa-angle-left" style="color: #FE5D26; font-size: 50px;"></i></span>',
            nextArrow: '<span style="z-index: 2; position: absolute; top: 46%; display: block; cursor: pointer; right: 20px"><i class="fas fa-angle-right" style="color: #FE5D26; font-size: 50px;"></i></span>'
        });
        let checked;
        let currentId;
        function closeModal(id) {
            if (id === '') {
                if (currentId) {
                    id = currentId;
                } else {
                    id = 'modal-new-task';
                }
            }
            console.log(currentId)
            const checkbox = document.getElementById(`checkbox-${id}`);
            if (checkbox) {
                const currentCheck = checkbox.checked;
                const form = document.getElementById('submitFormCheck');
                if (currentCheck !== checked) {
                    form.setAttribute('action', `api/tasks/check/:${id}`);
                    form.progress.value = currentCheck ? 'true' : 'false';
                    form.submit();
                }
            }
            document.getElementById(id).style.display = 'none';
        }

        function deleteTask() {
            const id = document.getElementById('submitFormEdit').getAttribute('action').split(':')[1];
            const form = document.getElementById('submitFormEdit');
            form.setAttribute('action', `api/tasks/delete/:${id}`);
            form.submit();
        }

        let afterEdit = false;

        function edit(id, name, time, description) {
            console.log(time)
            let prevModal = document.getElementById(id);
            prevModal.style.display = 'none';
            if (time !== 'null') {
                document.getElementById('modal-new-task').style.display = 'flex';
                let fullDate = time.split(', ');
                document.getElementById('newTaskDate').textContent = fullDate[0];
                document.getElementById('newTaskTime').value = fullDate[1];

            } else {
                document.getElementById('timePart').style.display = 'none';
                document.getElementById('modal-new-task').style.display = 'flex';
            }
            document.getElementById('taskName').value = name;
            document.getElementById('description').value = description;
            afterEdit = true;
            document.getElementById('submitFormEdit').setAttribute('action', `api/tasks/:${id}`);
        }

        function submit() {
            let id = '';
            const withTime = document.getElementById('timePart').style.display === 'flex';
            if (!afterEdit) {
                id = 'submitForm';
            } else {
                id = 'submitFormEdit';
            }
            const submitForm = document.getElementById(id);
            if (withTime) {
                let time = document.getElementById('newTaskTime').value;
                let date = document.getElementById('newTaskDate').textContent.split('.');
                let year = new Date().getFullYear().toString();
                if (time === '') {
                    time = '23:59';
                }
                submitForm.endTime.value = `${year}-${date[1]}-${date[0]}T${time}:00`;
            }
            let name = document.getElementById('taskName').value;
            submitForm.taskName.value = name === '' ? 'Без названия' : name;
            submitForm.description.value = document.getElementById('description').value;
            submitForm.submit();
            document.getElementById('modal-new-task').style.display = 'none';
        }

        function fillWeekdays() {
            let currDate = new Date();
            for (let k = 0; k < 4; k++) {
                console.log(currDate)
                currDate.setDate(currDate.getDate() + 7*(k > 0));
                console.log(currDate)
                let weekdays = getWeekdays(new Date(currDate));
                for (let i = 0; i < 7; i++) {
                    const weekday = weekdays[i].toLocaleString('ru-RU')
                    console.log(weekday)
                    const element = document.getElementsByClassName(`date date-${k}${i + 1}`)[0];
                    element.innerText = weekday.substring(0, 5);
                }
            }
        }
        fillWeekdays();

        function moveNavVertical(id) {
            if (document.getElementById(id).style.height === "160px") {
                document.getElementById(id).style.height = "0";
            }
            else {
                document.getElementById(id).style.height = "160px";
            }
        }

        function moveNavHorizontal(id, margin) {
            if (document.getElementById(id).style.width === "280px") {
                document.getElementById(id).style.width = "0";
                if (margin) {
                    document.getElementById("content").style.marginLeft = "0";
                }
            }
            else {
                document.getElementById(id).style.width = "280px";
                if (margin) {
                    document.getElementById("content").style.marginLeft = "320px";
                }
            }
        }

        function openModal(id) {
            document.getElementById(id).style.display = 'flex';
            let color = document.getElementById(`color-${id}`).style.background;
            checked = color === 'rgb(193, 219, 179)';
            console.log(`checkbox-${id}`)
            document.getElementById(`checkbox-${id}`).checked = checked;
            currentId = id;
        }

        function addNewTask(date) {
            afterEdit = false;
            document.getElementById('newTaskTime').value = '';
            document.getElementById('taskName').value = '';
            document.getElementById('description').value = '';
            document.getElementById('modal-new-task').style.display = 'flex';
            if (date) {
                document.getElementById('newTaskDate').textContent = date;
            } else {
                document.getElementById('newTaskDate').textContent = '';
                document.getElementById('timePart').style.display = 'none';
            }

        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            const regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        $(function(){
            const term = getParameterByName("showModal");
            if(term.length) {
                openModal(term);
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
